extends ../layouts/main-layout.pug
block content    
    form(action="/admin/product" method="POST")
        .form-group-row
            label(for="productName").col-sm-2.col-form-label Product Name
            .col-sm-10
                input(type="text"  name="name").form-control#name
        .form-group-row
            label(for="productName").col-sm-2.col-form-label Price
            .col-sm-10
                input(type="text"  name="price").form-control#price
        .form-group-row
            label(for="productName").col-sm-2.col-form-label Image
            .col-sm-10
                input(type="text"  name="imageUrl").form-control#imageUrl
        .form-group-row
            label(for="productName").col-sm-2.col-form-label Description
            .col-sm-10
                input(type="text"  name="description").form-control#description                        
        .form-group-row                           
            .col-sm-10.my-1
                 input(type="submit" value="Save Product").btn.btn-primary                     